main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main h2 {
  font-weight: 500;
  font-size: 1rem;
}

main p {
  color: #555;
}

main img {
  width: 100%;
}

main div {
  margin-top: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
}

@media screen and (min-width: 750px) {
  main {
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  main h2 {
    padding-block: 3px;
    padding-inline: 16px;
    border-radius: 100px;
    background-color: var(--main-blue);
    color: white;
  }

  main h1 {
    font-size: 3.2rem;
    text-align: center;
  }

  main p {
    text-align: center;
    max-width: 900px;
    font-size: 1.1rem;
  }

  main div {
    margin-top: 1rem;
    grid-template-columns: repeat(4, auto);
  }

  main div img {
    border-radius: 6px;
  }
}
