{% extends "layout.html" %}
{% load static %}

{% block title %}
    Jumpah - Products
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block body %}
    <h2 class="title">Our Products</h2>
    <section>
        {% for shoe in shoes %}
            <div>
                <img src="{{ shoe.image.url }}" alt="{{ shoe.title }}" loading="lazy">
                {% if user.is_authenticated %}
                    {% if shoe.id in ids %}
                        <img src="{% static 'images/heart-full.png' %}" alt="like icon" class="like-button" onclick="handleLike(this, '{{ shoe.id }}')">
                    {% else %}
                        <img src="{% static 'images/heart-regular.png' %}" alt="like icon" class="like-button" onclick="handleLike(this, '{{ shoe.id }}')">
                    {% endif %}
                {% else %}
                    <img src="{% static 'images/heart-regular.png' %}" alt="like icon" class="like-button" onclick="() => alert("You should be logged in.")">
                {% endif %}
                <a href="{% url 'shoe' shoe.slug %}" title="click to see details">
                    <h3>{{ shoe.title }}</h3>
                </a>
                <p>{{ shoe.description }}</p>
                <span class="price">{{shoe.price}} $</span>
                <div class="star-container">
                    <span>{{ shoe.stars }}</span>
                    <img src="{% static 'images/star.png' %}" alt="star icon" class="star-icon">
                </div>
                <div class="sizes-container">
                    <div class="sizes" title="available sizes">
                    {% for size in shoe.available_sizes %}
                        <span>{{ size }}</span>
                    {% endfor %}
                    </div>
                </div>
                <div class="button-container">
                    <div class="amount">
                        <button onclick="changeAmount('{{shoe.id}}', 'increment')">+</button>
                        <span id="{{shoe.id}}">1</span>
                        <button onclick="changeAmount('{{shoe.id}}', 'decrement')">-</button>
                    </div>
                    <button onclick="addToCart(this, '{{ shoe.id }}', {{ user.is_authenticated|yesno:'true,false' }})">
                        Add to Cart
                    </button>    
                </div>            
            </div>
        {% endfor %}
    </section>
    <script>
        function addToCart(button, shoeId, isAuthenticated) {
            if (isAuthenticated) {
                shoeId = Number(shoeId);
                const amount = Number(document.getElementById(shoeId).textContent);
        
                fetch("{% url 'basket' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "include",
                    body: JSON.stringify({
                        shoe_id: shoeId,
                        amount: amount
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok.');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === "success") {
                        button.textContent = "Added to Cart";
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    button.textContent = "Add to Cart";
                });
            } else {
                alert("You should be logged in.");
            }
        }

        function handleLike(button, shoeId) {
            shoeId = Number(shoeId);

            fetch("{% url 'favorites' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                credentials: "include",
                body: JSON.stringify({
                    shoe_id: shoeId,
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.json();
            })
            .then(data => {
                if (data.status === "success") {
                    alert(data.message);
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }
        
        
        function changeAmount(shoeId, type) {
            const amountSpan = document.getElementById(shoeId);
            const amount = Number(amountSpan.textContent);
            if(type == "increment") {
                amountSpan.textContent = amount + 1;
            } else {
                if(amount > 1) {
                    amountSpan.textContent = amount - 1;
                }
            }
        }
        
    </script>
{% endblock %}